@font-face {
	font-family: 'impactreg';
	src: url('./font/impactreg.eot');
	src: local('impactreg'), url('./font/impactreg.woff') format('woff'), url('./font/impactreg.ttf') format('truetype');
}
a {text-decoration: none!important; color: white;}
a:hover {text-decoration: none!important; color: yellow;}
a:link {text-decoration: none!important; color: white;}
a:visited {text-decoration: none!important; color: white;}

html, body {overflow-x: hidden; padding: 0!important}

html, section {
	background-color: red;
	color: white;
	background-image: url(tanner.png);
	height: 100vh;
	width: 100vw;
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: right;
}
.container {
	height: 100vh;
	width: 100vw;
	background-image: url(logo1.png);
	-webkit-background-size: 60% auto;
	background-size: 60% auto;
	background-repeat: no-repeat;
	background-position: 2em 2em;
}
#links {
	font-family: 'impactreg';
	font-size: 10vw;
	text-align: center;
	position: relative;
	top: 65vh;
}
#links a{}
#links a:hover {
	color: yellow;
}

@media (min-width: 768px) and (max-width: 1199px) {
	.container {
		-webkit-background-size: 100% auto;
		background-size: 100% auto;
		background-position: center 20%;
	}
	.modal-dialog {
    	width: 100%;
	}
}

@media (min-width: 320px) and (orientation:landscape) {
	.container {
		-webkit-background-size: 80% auto;
		background-size: 80% auto;
		background-position: center 20%;
	}
	#links {top: 75vh; font-size: 6vw;}
}

@media (min-width: 320px) and (orientation:portrait) {
	#links {top: 75vh; font-size: 15vw;}
}