@media (min-width: 1199.98px) {
	.buttonLeft {
		margin-left: 15vw;
	}
	.buttonRight {
		margin-right: 15vw;
	}
}

@media (max-width: 991.98px) {
	/* ADVANTAGE */
	.advantageItem {
		padding-bottom: 60pt;
	}
	.serviceCounter {
		margin-top: 60pt;
	}
	/* GUARANTEE */
	.btnItem {
		width: 12em;
		font-size: 12pt;
	}
	.carousel {
		margin-left: 0;
		margin-right: 0;
	}
}

@media (max-width: 767.98px) {
	/* BASE */
	.sectionHeader {
		font-size: 24pt;
		padding-top: 40pt;
	}
	.carousel {
		margin-left: 0;
		margin-right: 0;
	}
	/* MAIN */
	.mainTextArea>h1 {
		font-size: 30pt;
		line-height: 40pt;
	}
	.mainTextArea>p {
		font-size: 16pt;
	}
	.btnMain {
		font-size: 10pt;
	}
	/* ADVANTAGE */
	.advantageItem {
		padding-bottom: 60pt;
	}
	.serviceCounter {
		margin-top: 60pt;
		font-size: 18pt;
	}
	/* GUARANTEE */
	.guaranteeItem {
		margin-bottom: 18pt;
	}
	.daysCount {
		font-size: 40pt;
	}
	.btnItem {
		font-size: 10pt;
		width: 15em;
	}
	/* FOOTER */
	.contactsDescription {
		margin-left: 10vw;
		margin-right: 10vw;
		margin-bottom: 10vh;
	}
	.companyLinks>a, .copyright {
		font-size: 8pt;
	}
}

@media only screen and (max-width: 575.98px) {
	/* BASE */
	.carousel {
		margin-left: 0;
		margin-right: 0;
	}
	.nav-item {
		margin-top: 5pt;
		margin-bottom: 5pt;
	}
	.sectionHeader{
		font-size: 18pt;
		padding-top: 30pt;
		padding-bottom: 60pt;
	}
	/* MAIN */
	.mainSectionContent {
		top: calc(var(--index) * 6);
	}
	.mainTextArea {
		top: 10em;
	}
	.mainTextArea>h1 {
		font-size: 22pt;
		line-height: 30pt;
	}
	.mainTextArea>p {
		font-size: 11pt;
	}
	.btnMain {
		font-size: 8pt;
	}
	.mainTextArea {
		text-align: center;
		position: absolute;
		left:0;
		right:0;
		margin-left:auto;
		margin-right:auto;
	}
	/* ADVANTAGE */
	.advantageItem>h2 {
		font-size: 12pt;
	}
	.advantageItem>p {
		font-size: 10pt;
	}
	.serviceCounter {
		font-size: 12pt;
	}
	/* GUARANTEE */
	.btnItem {
		margin-top: 0;
		width: 10em;
	}
	.itemName {
		font-size: 12pt;
	}
	.daysCount>span {
		font-size: 10pt;
	}
	.itemDescription {
		font-size: 10pt;
	}
	/* PORTFOLIO */
	.carousel-indicators {
		visibility: hidden;
	}
	/* GUARANTEE */
	.guaranteeItem {
		margin-left: 10vw;
		margin-right: 10vw;
	}
	/* CONTACTS */
	.contactsDescription {
		font-size: 10pt;
	}
	/* TEAM */
	.teamName {
		font-size: 12pt;
	}
	.teamDescription {
		font-size: 10pt;
	}
	/* 2GIS */
	.carousel2GIS {
		height: 350px;
	}
	.gisText {
		font-size: 8pt;
	}
	/* FOOTER */
	.companyLinks>a, .copyright {
		font-size: 8pt;
	}
	.footer {
		display: grid;
	}
	.companyLinks>a>i {
		margin-right: 6pt;
	}
	.copyright {
		margin-bottom: 24pt;
	}
}
@media only screen and (max-width: 991.98px) and (orientation: landscape) {
	.mainSectionContent {
		top: calc(var(--index) * 8);
	}
	.mainTextArea {
		top: 1em;
	}
	.mainTextArea>h1 {
		font-size: 18pt;
		line-height: 30pt;
	}
	.mainTextArea>p {
		font-size: 10pt;
		margin-top: 12pt;
		margin-bottom: 12pt;
	}
	.btnMain {
		font-size: 6pt;
	}
	.btnItem {
		font-size: 10pt;
	}
	.mainTextArea {
		position: absolute;
	}
	.mainBrokenPhone {
		height: 16em;
	}
}
@media only screen and (min-width: 600px) and (max-width: 991.98px) and (orientation: portrait) {
	.mainSection {
		height: 100vw;
	}
}